<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/css/home/login.css"> -->
    <title>Document</title>
</head>
<body>
    여기는 루트입니다 나가세요
    <p class="message">Already registered? <a href="/login">login</a></p>
    <p class="message">Not registered? <a href="register">Create an account</a></p>
</body>
</html>